<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <h1>Sign In</h1>
        </div>

        <!-- Login Form -->
        <form [formGroup]="formGroup" (ngSubmit)="login()">
            Value: {{ formGroup.value | json }}
            <input formControlName="username" type="text" id="login" class="fadeIn second" name="login"
                placeholder="Username">
            <br>
            <span *ngIf="username.invalid && username.touched">
                Your username does not look right
            </span>
            <input formControlName="password" type="password" id="password" class="fadeIn third" name="login"
                placeholder="Password">
            <br>
            <span *ngIf="password.invalid && password.touched">
                That password sucks...
            </span>
            <input [disabled]="formGroup.invalid" type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Don't have an account? Sign up</a>
        </div>

    </div>
</div>